* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
}
.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  max-height: 380px;
  border-radius: 4px;
}
.input-holder {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}


.input{
  display: block;
  padding: 10px;
  box-sizing: border-box;
  width: 87%;
  height: 35px;
  outline: 1px solid rgb(199, 199, 199);
  border-radius: 4px;
}
/* checkbox */

.input-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.input-checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.input-checkbox+label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.input-checkbox:checked+label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

/* checkbox */


.btn {
  cursor: pointer;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
}
.btn-remove {
  display: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background: url(./images/trash.svg) no-repeat;
  background-position: center;
  display: flex;
  width: 35px;
  height: 35px;

}


.title {
  margin: 0;
  font-size: 25px;
  padding: 20px 20px 10px;
  align-self: flex-start;
}
.list {
  list-style: none;
  align-self: flex-start;
  width: 100%;
  padding: 10px 20px;
  max-height: 270px;
}

.list-item {
  background-color: rgb(233, 232, 232);
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.list-item > span {
  padding-left: 10px;
  color: rgb(107, 105, 105);
}
.list-item > button {
  background-color: tomato;
  cursor: pointer;
}

.btn-remove {
  display: block;
}

.list-item > .btn-save {
  background-color: lightgreen;
  color: white;
}

.btn-purple {
  background-color: blueviolet;
  color: white;
}

.counter {
  display: flex;
  width: 100%;
  padding: 10px 20px;
  justify-content: space-between;
  align-items: center;
}

.counter > p {
  color: rgb(112, 111, 111);
  margin: 0;
}
.btn-clear {
  display: flex;
  width: auto;
  padding: 10px;
}

.notification {
  position: absolute;
  top: 100px;
  bottom: 0;
  left: 20%;
  right: 0;
  width: 250px;
  height: 50px;
  border-radius: 4px;
  background-color: tomato;
  color: white;
  animation: show 3s ease-in-out;
}

.active-todo {
  background-color: lightblue;
}

.input-error {
  outline: 1px solid rgb(255, 5, 5);
}

@-webkit-keyframes show {
  0% {opacity: 1;}
}

@keyframes show {
  100% {opacity: 0;}
}

.hide {
  display: none;
}
